@import '~bulma/bulma';

.register {
  justify-content: center;
  align-items: center;

  .card {
    @include mobile {
      width: 100%;
    }

    @include desktop {
      width: 400px;
    }
  }
}